<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="style1.css">-->
    <title>Dashboard Page</title>
</head>
<body>
<h1> <marquee>WELCOME {{ username }}</marquee></h1>
<form action="http://127.0.0.1:8080/dashboard_logout" method="post">
<style>h1{
	color=yellow;
	font-family:Trebuchet MS;
}
body{
	color:white;
	background:green;
	padding:5px;
	font-family:comic sans ms ;
	font-size:20px;
}</style>
<input type="Submit" name="submit" value="Logout"></form>
</body>
</html>