<!DOCTYPE html>
<html>
	<head>
		<!--<link rel="stylesheet" href="css.css">-->
	</head>
		<body>
			<h1>WELCOME TO LOGIN PAGE</h1>
			<form action="" method="Post">
				Username: <input type="text" name="username"><br/><br/>
				Password: <input type="password" name="password"><br/><br/>
				<input type="Submit" name="submit" value="Login">
				<style>h1{
	color=yellow;
	font-family:Trebuchet MS;
}
body{
	text-align: Center;
	color:white;
	background:green;
	padding:5px;
	font-family:comic sans ms ;
	font-size:20px;
}</style>
			</form>
		</body>
</html>