<!DOCTYPE html>
<html lang="en">
<head>

    <title>Student Registration Form </title>
</head>
<body>
<h1>Student Registration Form</h1>
<form action="http://127.0.0.1:8080/register_submit" method="post">
    <h2>Register Here</h2>
    <label>Firstname :</label><br>
    <input type="text" name="fname"><br><br>
    <label>Middlename :</label><br>
    <input type="text" name="mname"><br><br>
    <label>Lastname :</label><br>
    <input type="text" name="lname"><br><br>
    <label>username :</label><br>
    <input type="text" name="username"><br><br>
    <label>Password :</label><br>
    <input type="password" name="password"><br><br>
    <label>Re-Enter Password :</label><br>
    <input type="rpassword" name="rpassword"><br><br>
    <input type="Submit" name="submit" value="Submit">
</form></div>
<style>h1{
text-align: center;
font-family:Trebuchet MS;
}
body{
	text-align: Center;
	color:white;
	background:green;
	padding:5px;
	font-family:comic sans ms ;
	font-size:20px;
}</style>
</body>
</html>