<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Student Registration Form </title>
</head>
<body>
<h1>Student Registration Form</h1>
<form method="post" id="register" action="">
    <h2>Register Here</h2>
    <label>First Name :</label><br>
    <input type="text" name="Fname"><br><br>
    <label>Middle Name :</label><br>
    <input type="text" name="Mname"><br><br>
    <label>Last Name :</label><br>
    <input type="text" name="Lname"><br><br>
    <label>Mobile Number :</label><br>
    <select id="ph">
        <option> +91</option>
        <option> +93</option>
        <option> +61</option>
        <option> +86</option>
        <option> +56</option>
        <option> +43</option>
        <option> +57</option>
        <option> +53</option>
        <option> +20</option>
    </select>
    <input type="number" name="Mnumber"><br><br>
    <label>Email :</label><br>
    <input type="mail" name="Email"><br><br>
    <label>Password :</label><br>
    <input type="password" name="password"><br><br>
    <label>Re-Enter Password :</label><br>
    <input type="rpassword" name="rpassword"><br><br>
    <input type="radio" name="Male" ><span values="Male">&nbsp; Male</span>
    <input type="radio" name="Female" ><span values="Female">&nbsp; Female</span>
    <input type="radio" name="Other" ><span values="Other">&nbsp; Other</span><br><br>
    <input type="Submit" name="submit" value="Submit">
</form></div>
<style>h1{
text-align: center;
font-family:Trebuchet MS;
}
body{
	text-align: Center;
	color:white;
	background:green;
	padding:5px;
	font-family:comic sans ms ;
	font-size:20px;
}</style>
</body>
</html>